Repository michael-mpj/r3f-batman-workspace, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, docs, infra

test: remove test file
  test-file.txt
Labels: none

feat: implement Batman automated commit message formatting
  .husky/commit-msg
  package.json
  scripts/batman-commit-auto.mjs
Labels: none

chore: enhance workspace with comprehensive VS Code extensions and settings
  .vscode/README.md
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

feat: add comprehensive VS Code extension recommendations
  .vscode/extensions.json
Labels: none

feat: create Batman extension management system
  .vscode/README.md
  package.json
  scripts/batman-install-extensions.mjs
Labels: none

Add SonarCloud analysis workflow
  .github/workflows/sonarcloud.yml
Labels: infra

Add SonarQube analysis workflow
  .github/workflows/sonarqube.yml
Labels: infra

Potential fix for code scanning alert no. 41: Incomplete string escaping or encoding
  scripts/batman-auto-close.mjs
Labels: none

Potential fix for code scanning alert no. 43: Incomplete string escaping or encoding
  scripts/batman-enhanced.mjs
Labels: none

Add a log message for PR approval check
  .github/workflows/auto-merge.yml
Labels: infra

Add commit message prefix for GitHub Actions
  .github/dependabot.yml
Labels: infra

Add commit message prefix for GitHub Actions
  .github/dependabot.yml
Labels: infra

Add GitHub Actions workflow for GitHub Pages deployment
  .github/workflows/static.yml
Labels: infra

Create label 'npm'
  labels/npm.json
Labels: none

Potential fix for code scanning alert no. 17: Workflow does not contain permissions
  .github/workflows/workspace-actions-demo.yml
Labels: infra

Potential fix for code scanning alert no. 44: Incomplete string escaping or encoding
  scripts/check-compatibility.mjs
Labels: none

Update Node and npm version requirements in package.json
  package.json
Labels: none

Update SonarQube action version in workflow
  .github/workflows/sonarqube.yml
Labels: infra

Add SECURITY.md with security policy
  SECURITY.md
Labels: none

Potential fix for code scanning alert no. 44: Incomplete string escaping or encoding
  scripts/check-compatibility.mjs
Labels: none

Add CRDA static analysis workflow configuration
  .github/workflows/crda.yml
Labels: infra

Add Dependency Review Action workflow
  .github/workflows/dependency-review.yml
Labels: infra

Create main.yml
  .github/workflows/main.yml
Labels: infra

chore: update Node.js engine target to current LTS
  package.json
Labels: none

chore: pin Node.js engine to 24.x LTS range
  package.json
Labels: none

Remove .vscode/README.md
  .vscode/README.md
Labels: none

Add VS Code workspace README with extensions
  .vscode/readme.md
Labels: none

chore: refresh npm deps and update workflows to Node 24.x
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/node.js.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/validate-data.yaml
  .github/workflows/workspace-actions-demo.yml
  package-lock.json
  turbo.json
Labels: infra

chore: refresh npm deps and update workflows to Node 24.x
  package-lock.json
Labels: none

chore: upgrade eslint and vite to latest
  apps/cyber-forge/package.json
  apps/cyber-forge/vite.config.js
  package-lock.json
  package.json
  packages/r3f-components/eslint.config.js
  packages/r3f-components/package.json
  packages/ui/package.json
  packages/utils/package.json
  projects/R3f-StarterKit/eslint.config.js
  projects/R3f-StarterKit/package.json
Labels: frontend

chore: stabilize lint for eslint 10
  apps/cyber-forge/eslint.config.js
  package.json
  packages/r3f-components/eslint.config.js
  packages/r3f-components/package.json
  projects/R3f-StarterKit/eslint.config.js
  projects/R3f-StarterKit/package.json
Labels: frontend

chore: update workspace settings and r3f lint config
  .vscode/settings.json
  packages/r3f-components/eslint.config.js
Labels: none

chore(release): prepare v2.0.0
  README.md
  package-lock.json
  package.json
Labels: none

fix(turbo): rename pipeline to tasks for turbo v2
  turbo.json
Labels: none

feat(landing): add workspace landing page for vercel root
  packages/r3f-components/public/index.html
Labels: none

fix(deploy): ensure landing index copied to dist
  packages/r3f-components/package.json
Labels: none

feat(landing): generate dynamic workspace metadata at build
  packages/r3f-components/.gitignore
  packages/r3f-components/package.json
  packages/r3f-components/public/index.html
  packages/r3f-components/scripts/generate-landing-data.mjs
Labels: none

fix(landing): add fallback metadata for package-scoped deploys
  packages/r3f-components/config/landing-fallback.json
  packages/r3f-components/scripts/generate-landing-data.mjs
Labels: none

feat(landing): group workflow commands by category
  packages/r3f-components/config/landing-fallback.json
  packages/r3f-components/public/index.html
  packages/r3f-components/scripts/generate-landing-data.mjs
Labels: none

fix: streamline JSON data handling and improve script command retrieval
  packages/r3f-components/config/landing-fallback.json
  packages/r3f-components/public/index.html
  packages/r3f-components/scripts/generate-landing-data.mjs
Labels: none

.github/labeler.yml:

# mapping of labels to paths
frontend:
  - "packages/ui/**"
  - "apps/**"
backend:
  - "server/**"
docs:
  - "docs/**"
infra:
  - ".github/**"
