Repository michael-mpj/r3f-batman-workspace, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, docs, infra

.github/labeler.yml:

# mapping of labels to paths
frontend:
  - "packages/ui/**"
  - "apps/**"
backend:
  - "server/**"
docs:
  - "docs/**"
infra:
  - ".github/**"

chore: update npm to LTS 11.0.0
  .npm-version
Labels: none

ci: add periodic auto-sync workflow
  .github/workflows/auto-sync.yml
Labels: infra

Update devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

chore: update package
  docs/guide/package-compatibility.md
Labels: docs

feat: new updates
  apps/cyber-forge/package.json
  docs/guide/package-compatibility.md
  package-lock.json
  package.json
  packages/r3f-components/package.json
  packages/ui/package.json
  packages/utils/package.json
  packages/utils/tsconfig.json
  projects/R3f-StarterKit/package.json
  tsconfig.json
  turbo.json
Labels: frontend, docs

fix: remove stale easymap references from workspace configs
  .github/actions/README.md
  .vscode/launch.json
Labels: infra

Create jekyll-gh-pages.yml
  .github/workflows/jekyll-gh-pages.yml
Labels: infra

Update dependabot.yml
  .github/dependabot.yml
Labels: infra

fix: resolve suzanne.gltf load error and clean workspace configs
  docs/guide/package-compatibility.md
  docs/workspace-info.md
  packages/r3f-components/scripts/generate-landing-data.mjs
  projects/R3f-StarterKit/src/models/Suzanne.gltf
  projects/R3f-StarterKit/src/models/Suzanne.jsx
  projects/R3f-StarterKit/src/models/suzanne/Suzanne.jsx
  scripts/create-workspace.mjs
Labels: docs

feat(deployments): add cleanup deployments workflow and script
  .github/workflows/cleanup-deployments.yml
  package.json
  packages/r3f-components/tsconfig.json
  packages/utils/tsconfig.json
Labels: infra

style: replace Orbitron font with Poppins in cyber-forge
  apps/cyber-forge/src/scenes/CyberScene.jsx
  apps/cyber-forge/src/styles/index.css
Labels: frontend
