Repository michael-mpj/r3f-batman-workspace, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, docs, infra

chore(ci): dedupe workflows and fix action/tooling diagnostics
  .github/workflows/WORKFLOWS_README.md
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/node.js.yml
  .github/workflows/prettier.yml
  .github/workflows/pullrequest.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/validate-data.yaml
  .github/workflows/workspace-actions-demo.yml
  .vscode/settings.json
  apps/cyber-forge/vite.config.js
  projects/R3f-StarterKit/tsconfig.json
Labels: frontend, infra

docs(structure): define apps vs projects workspace convention
  README.md
  docs/.vitepress/config.js
  docs/apps/index.md
  docs/guide/workspace-conventions.md
  docs/projects/index.md
Labels: docs

feat(workspace): add app/project scaffold helper command
  docs/guide/workspace-conventions.md
  package.json
  scripts/create-workspace.mjs
Labels: docs

feat(landing): highlight starterkit and cyber-forge workspaces
  packages/r3f-components/config/landing-fallback.json
  packages/r3f-components/public/index.html
  packages/r3f-components/scripts/generate-landing-data.mjs
Labels: none

style(workspace): normalize scaffold script formatting
  scripts/create-workspace.mjs
Labels: none

style(landing): add SVG backgrounds for projects/apps cards and remove unused PNGs
  packages/r3f-components/public/images/apps-bg.svg
  packages/r3f-components/public/images/projects-bg.svg
  packages/r3f-components/public/index.html
Labels: none

chore(workspace): improve code formatting and consistency in create-workspace script
  cleanup-github-deployments.cjs
  cleanup-vercel-deployments.cjs
  package-lock.json
  package.json
Labels: none

feat(deployments): add cleanup deployments workflow and script
  .github/workflows/cleanup-deployments.yml
  package.json
  packages/r3f-components/tsconfig.json
  packages/utils/tsconfig.json
Labels: infra

Create jekyll-gh-pages.yml
  .github/workflows/jekyll-gh-pages.yml
Labels: infra

feat: new updates
  apps/cyber-forge/package.json
  docs/guide/package-compatibility.md
  package-lock.json
  package.json
  packages/r3f-components/package.json
  packages/ui/package.json
  packages/utils/package.json
  packages/utils/tsconfig.json
  projects/R3f-StarterKit/package.json
  tsconfig.json
  turbo.json
Labels: frontend, docs

feat: new updates
  package.json
  packages/r3f-components/config/landing-fallback.json
  packages/r3f-components/scripts/generate-landing-data.mjs
Labels: none

fix: resolve TypeScript project references for ui and cyber-forge
  apps/cyber-forge/tsconfig.json
  packages/ui/tsconfig.json
  tsconfig.json
Labels: frontend

fix: remove composite/references from root tsconfig, exclude workspace dists
  tsconfig.json
Labels: none

fix: add cwd to VSCode tasks, clean tsconfig duplicates, update docs
  .vscode/tasks.json
  docs/guide/package-compatibility.md
  docs/workspace-info.md
  tsconfig.json
Labels: docs

ci: add periodic auto-sync workflow
  .github/workflows/auto-sync.yml
Labels: infra

ci: add contents:write permission to auto-sync workflow
  .github/workflows/auto-sync.yml
Labels: infra

fix: remove stale easymap references from workspace configs
  .github/actions/README.md
  .vscode/launch.json
Labels: infra

fix: resolve suzanne.gltf load error and clean workspace configs
  docs/guide/package-compatibility.md
  docs/workspace-info.md
  packages/r3f-components/scripts/generate-landing-data.mjs
  projects/R3f-StarterKit/src/models/Suzanne.gltf
  projects/R3f-StarterKit/src/models/Suzanne.jsx
  projects/R3f-StarterKit/src/models/suzanne/Suzanne.jsx
  scripts/create-workspace.mjs
Labels: docs

style: replace Orbitron font with Poppins in cyber-forge
  apps/cyber-forge/src/scenes/CyberScene.jsx
  apps/cyber-forge/src/styles/index.css
Labels: frontend

chore: update package
  docs/guide/package-compatibility.md
Labels: docs

Update dependabot.yml
  .github/dependabot.yml
Labels: infra

Update dependabot.yml
  .github/dependabot.yml
Labels: infra

Update devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

Potential fix for code scanning alert no. 44: Incomplete string escaping or encoding
  scripts/check-compatibility.mjs
Labels: none

chore: update npm to LTS 11.0.0
  .npm-version
Labels: none

chore(deps): bump fflate from 0.6.10 to 0.6.11 (#199) (#211)
  package-lock.json
Labels: none

Delete package-lock.jsonIgnore
  package-lock.json
Labels: none

feat: create junit.xml
  test-results/junit.xml
Labels: none

Install and Configure Vercel Web Analytics
  apps/cyber-forge/package.json
  apps/cyber-forge/src/App.jsx
  package-lock.json
  package.json
  projects/R3f-StarterKit/package.json
  projects/R3f-StarterKit/src/App.jsx
Labels: frontend

Install Vercel Web Analytics
  apps/cyber-forge/package.json
  apps/cyber-forge/src/App.jsx
  package-lock.json
  projects/R3f-StarterKit/package.json
  projects/R3f-StarterKit/src/App.jsx
Labels: frontend

feat: new updates
  package.json
  packages/r3f-components/config/landing-fallback.json
  packages/r3f-components/scripts/generate-landing-data.mjs
Labels: none

fix: add cwd to VSCode tasks, clean tsconfig duplicates, update docs
  .vscode/tasks.json
  docs/guide/package-compatibility.md
  docs/workspace-info.md
  tsconfig.json
Labels: docs

fix: remove composite/references from root tsconfig, exclude workspace dists
  tsconfig.json
Labels: none

style(landing): add SVG backgrounds for projects/apps cards and remove unused PNGs
  packages/r3f-components/public/images/apps-bg.svg
  packages/r3f-components/public/images/projects-bg.svg
  packages/r3f-components/public/index.html
Labels: none

fix: resolve TypeScript project references for ui and cyber-forge
  apps/cyber-forge/tsconfig.json
  packages/ui/tsconfig.json
  tsconfig.json
Labels: frontend

feat: create junit.xml
  test-results/junit.xml
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: infra

Potential fix for code scanning alert no. 44: Incomplete string escaping or encoding
  scripts/check-compatibility.mjs
Labels: none

ci: add contents:write permission to auto-sync workflow
  .github/workflows/auto-sync.yml
Labels: infra

chore(workspace): improve code formatting and consistency in create-workspace script
  cleanup-github-deployments.cjs
  cleanup-vercel-deployments.cjs
  package-lock.json
  package.json
Labels: none

.github/labeler.yml:

# mapping of labels to paths
frontend:
  - "packages/ui/**"
  - "apps/**"
backend:
  - "server/**"
docs:
  - "docs/**"
infra:
  - ".github/**"
