Repository michael-mpj/r3f-batman-workspace, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, docs, infra

.github/labeler.yml:

# mapping of labels to paths
frontend:
  - "packages/ui/**"
  - "apps/**"
backend:
  - "server/**"
docs:
  - "docs/**"
infra:
  - ".github/**"

refactor: update lint configuration to only target JavaScript files
  package.json
Labels: none

fix: make pre-push hook more lenient for initial setup
  .husky/pre-push
Labels: none

test: add temporary readme for initial push
  README_TEMP.md
Labels: none

fix: disable pre-push tests and fix vitest configuration
  .husky/pre-push
  packages/ui/src/test/Button.test.jsx
Labels: frontend

Initial commit
  README.md
Labels: none

fix: correct pre-push hook content
  .husky/pre-push
Labels: none

feat: add comprehensive branch protection ruleset configuration
  .github/BRANCH_PROTECTION.md
  .github/BRANCH_PROTECTION_SETUP.md
  .github/branch-protection-ruleset.json
  scripts/setup-branch-protection.sh
Labels: infra

fix: remove misplaced vscode file
  .github/workflows/auto-merge.yml
  README.md
  docs/.vitepress/cache/deps/@theme_index.js
  docs/.vitepress/cache/deps/@theme_index.js.map
  docs/.vitepress/cache/deps/_metadata.json
  docs/.vitepress/cache/deps/chunk-BCCH3YIY.js
  docs/.vitepress/cache/deps/chunk-BCCH3YIY.js.map
  docs/.vitepress/cache/deps/chunk-XVTONTDZ.js
  docs/.vitepress/cache/deps/chunk-XVTONTDZ.js.map
  docs/.vitepress/cache/deps/package.json
  docs/.vitepress/cache/deps/vitepress___@vue_devtools-api.js
  docs/.vitepress/cache/deps/vitepress___@vue_devtools-api.js.map
  docs/.vitepress/cache/deps/vitepress___@vueuse_core.js
  docs/.vitepress/cache/deps/vitepress___@vueuse_core.js.map
  docs/.vitepress/cache/deps/vue.js
  docs/.vitepress/cache/deps/vue.js.map
  docs/guide/package-compatibility.md
  eslint.config.mjs
  package-lock.json
  package.json
  scripts/auto-merge.mjs
  vscode
Labels: docs, infra

Add MIT License to the project
  LICENSE
Labels: none

Add LICENSE file
  LICENSE
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: infra

Add Contributor Covenant Code of Conduct
  CODE_OF_CONDUCT.md
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/custom.md
Labels: infra

Add Terraform CI workflow for GitHub Actions
  .github/workflows/terraform.yml
Labels: infra

Add ESLint workflow for code analysis
  .github/workflows/eslint.yml
Labels: infra

Delete security check script from SECURITY.md
  SECURITY.md
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/custom.md
Labels: infra

Clean up Terraform workflow comments
  .github/workflows/terraform.yml
Labels: infra

Clean up Terraform workflow comments
  .github/workflows/terraform.yml
Labels: infra

Add Codacy security scan workflow
  .github/workflows/codacy.yml
Labels: infra

Add Codacy security scan workflow (#29)
  .github/workflows/codacy.yml
Labels: infra

Update node.js.yml
  .github/workflows/node.js.yml
Labels: infra

Update validate-data.yaml
  .github/workflows/validate-data.yaml
Labels: infra

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
Labels: infra

Add LICENSE file
  LICENSE
Labels: none

Update validate-data.yaml
  .github/workflows/validate-data.yaml
Labels: infra

Potential fix for code scanning alert no. 8: Workflow does not contain permissions
  .github/workflows/ci.yml
Labels: infra

Potential fix for code scanning alert no. 8: Workflow does not contain permissions (#44)
  .github/workflows/ci.yml
Labels: infra

Update autofix-ci action to version 5
  .github/workflows/prettier.yml
Labels: infra

Update autofix-ci action version to v5
  .github/workflows/prettier.yml
Labels: infra

Create GitHub Action for autofixing issues
  .github/action.yml
Labels: infra

Implement caching for Node modules in CI workflow
  .github/workflows/ci.yml
Labels: infra

Update autofix-ci action version to v5 (#45)
  .github/workflows/ci.yml
  .github/workflows/prettier.yml
Labels: infra

Upgrade setup-node action to version 5
  .github/workflows/validate-data.yaml
Labels: infra

Add update-packages.sh script to update project packages
  update-packages.sh
Labels: none

Add React 19 compatibility reference
  REACT_19_COMPATIBILITY.md
Labels: none

Add auto-commit.sh script
  auto-commit.sh
Labels: none

feat: Add Panel component and utility hooks for theme and toggle functionality
  README.md
  docs/guide/package-compatibility.md
Labels: docs

chore: add vercel deployment configuration
  .vscode/settings.json
  projects/R3f-StarterKit/.vercel/README.txt
  projects/R3f-StarterKit/.vercel/project.json
Labels: none

feat: add test file for Batman automation
  test-file.txt
Labels: none
